[2018-12-13 15:48] Nuranto opened #1 "Badge rules"
Is it somehow possible to manage badge display rules ?

For instance, would be great to display it inline, just next to the submit button instead of on every page, in a fixed position.

Of course there is a legal aspect, I'm not sure what we can do or not....

Some topics on this :
https://stackoverflow.com/questions/53109566/how-do-i-hide-google-recaptcha-v3-from-my-site
https://stackoverflow.com

[2018-12-20 23:09] RyanDaDeng commented on #1
Hi, Nuranto, sorry for late reply. It's Xmas here, so I was a bit busy to clean up my company tasks. Anyway. Yeah, I will defintely look into your issues regarding the badge and also console.log(). I will make a patch tonight. Talk to you later.

[2018-12-21 07:01] Nuranto commented on #1
Oh I do understand, same here.... it's crazy since Black Friday!
Thank you very much!
If I can help...

[2018-12-21 08:11] RyanDaDeng commented on #1
Hello Nuranto, why not, you can help! You can create pull request or anything that I can help you set up.
By the way, according to Google official site, we are allowed to hide the badge, however, we still need to put some document or reference in user flow. e.g. Add a text line "This site is protected by Google blahblah...." in form. Please read the following link:

https://developers.google.com/r

[2018-12-21 09:07] RyanDaDeng commented on #1
Hello Nuranto,

I might have solution to do that. link: https://developers.google.com/recaptcha/docs/invisible#js_api, just using Javascript API and render the badge into the form only.

From your provided link's answer: https://jsfiddle.net/thatguysam/g7juvkdb/

[2018-12-21 09:38] RyanDaDeng commented on #1
I think I have made it, let me update it soon.

[2018-12-21 12:51] RyanDaDeng commented on #1
Hello Nuranto,

I have fully completed a new version, please upgrade your version.

Please also read new description in the home page.

The package now supports three badge display styles: inline, visible and global.

Additionally, you might need to re-publish the config file and also use new blade method to render. Please read the instructions on homepage.

Thank you for the feedback!

Merry Chri

[2018-12-25 08:52] RyanDaDeng commented on #1
@Nuranto Can I close this ticket?

[2019-01-08 07:13] NantipatSoftEn opened #11 "Service provider doesn't support 5.4 version"
My Laravel version 5.4
When I add  providers and aliases at config/app.php
I have error below this

[code]

[2019-01-08 08:54] xalunda opened #12 "README Error - Wrong ValidationClass name"
Good morning!

Following the README process to use the Validation Class, I  arrived on a NotFound Exception.

#### REAME content:
[code]

#### According to your code:
The class actually has `V3` in its name.
[code]

This resolves the issue.

Thanks for this package.

[2019-01-08 09:30] RyanDaDeng commented on #12
Good morning! @xalunda
I have just updated the document, and also included it in the newest release already. https://github.com/RyanDaDeng/laravel-google-recaptcha-v3/releases/tag/2.1.0

Thank you very much!!

I am feeling motivated!

Best Regards

[2019-01-08 09:34] RyanDaDeng commented on #11
@NantipatSoftEn Sorry about it, all test cases currently only covered source code except Service Provider, I might write test cases this weekend to cover the provider part.

Just updated the new version:  https://github.com/RyanDaDeng/laravel-google-recaptcha-v3/releases/tag/2.1.0

Please run the command below again, you should get your version updated:
`composer require timehunter/laravel-google-

[2019-01-08 09:40] xalunda commented on #12
You're very welcome Ryan :)

All works nice and smooth, thanks

[2019-01-08 09:40] #12 closed

[2019-01-08 09:58] NantipatSoftEn commented on #11
OK thx , I will try agin

[2019-01-09 16:06] vahidalvandi opened #15 "hard to install"

[2019-01-09 21:17] RyanDaDeng commented on #15
@vahidalvandi I’m sorry about it. Can you provide me with some more details? Which laravel version are you using? I’m willing to update it to you easily install the package.

[2019-01-10 00:13] RyanDaDeng commented on #15
Is document hard to follow? Or is the whole installation too hard to set up?

[2019-01-10 01:06] RyanDaDeng commented on #11
@NantipatSoftEn Hi, any good news?

[2019-01-11 20:57] kwindo opened #18 "Having trouble using the package on a site using vue.js."
Hi there,

Thanks for the package.

I managed to install it nicely on a new Laravel install but on the project I was planning on using it, which uses vue.js it's is giving me issues.

I tried adding {!!  GoogleReCaptchaV3::render(['signup_id'=>'signup']) !!} to the footer of my below the main app.js file in the footer of my site and in the <head> tag.

The component seems to work nicely but I'm ru

[2019-01-12 00:21] RyanDaDeng commented on #18
Hi, I just wake up, will help you on it. The vue component is not documented in readme, I’m sorry about it. Let me update it. Will let you know by today.

[2019-01-12 01:50] RyanDaDeng commented on #18
@kwindo I have just updated document, can you go to this link: https://github.com/RyanDaDeng/laravel-google-recaptcha-v3#vue-usage

Let me know if you still have confusions.

Basically, you need to use the GoogleReCaptchaV3 vue component in your signup page (you mentioned you put it in app.js where its a global vue js file that does not support any Laravel blade directives)

Blade way that you see

[2019-01-12 11:52] vahidalvandi commented on #15
have very long document

[2019-01-12 14:30] kwindo commented on #18
Wow you are fast! Thanks so much, this is a great help.

I had to make some changes to make it work though. I kept getting the error "Error: reCAPTCHA placeholder element must be an element or id" and messages from vue about the props being in CamelCase. So I changed the props to lowercase.

The "action" prop was also missing in GoogleReCaptchaV3.vue so I added it and updated the "execute()" metho

[2019-01-13 02:02] RyanDaDeng commented on #15
Yeah, you are right, I also consider it is too long to read. I will soon re-write and polish it up next week.

Thank you for the suggestion.

[2019-01-13 08:08] kwindo commented on #18
Hej, that's ok. No neet to apologise. Glad I could help pointing that out.

Yep all good. Thanks for your help!

[2019-01-13 08:41] RyanDaDeng commented on #18
Thanks @kwindo 👍

[2019-01-13 08:41] #18 closed

[2019-01-15 06:34] BroEggPain opened #20 "Can namespace be changed to GoogleReCaptchaV3 without name signature"
This might be rude, may I ask if it's ok to make the namespace to be only GoogleReCaptchaV3.

[2019-01-15 23:44] #20 closed

[2019-01-25 15:01] RyanDaDeng commented on #1
@Nuranto any updates？

[2019-01-26 00:11] HdbKing opened #23 "Blade does not support background script and missing ID check if the id not exist"
Issue:
The script always require variables to render the reCAPTCHA, I want to have it run in background. And the template file missing ID check.

Error:
if   '{{$field}}' (id) is don't contain in current page , js will stop at error code

try{
                    let client{{$field}} = grecaptcha.render('{{$field}}', {
                        'sitekey': '{{$publicKey}}',
                        @i

[2019-01-26 00:40] RyanDaDeng commented on #23
I just wake up. I am looking into it soon

[2019-01-26 00:56] xalunda commented on #23
Hi @HdbKing

Looks like you have an issue with your Blade variable `field` being empty.

This plugin requires a DOM element with a given ID in order to work.

I'm not sure why you need a variable ID, but I suggest you double check your controller is correctly setting up those needed vars.

[2019-01-26 02:08] HdbKing commented on #23
If you use layout , render must in layout (
Include Template script in your bottom/header of your page, params should follow 'ID'=>'Action', e.g.
),

when you open other page, Some element will never exists in current page.
It is not a controller code problem.

[2019-01-26 03:48] RyanDaDeng commented on #23
@HdbKing I have updated the package, the previous approach does not support background script (in your case, the render needs to always have a value to populate the action)

Please read the latest update: https://github.com/RyanDaDeng/laravel-google-recaptcha-v3#blade-basic-usage

Also remember to update your version and publish the config file again.

Thank you for using the package.

[2019-01-26 04:58] HdbKing commented on #23
Still don't work. because onloadCallback still run firstly or same time, js don't like php , {{$field}} = null,
get same error
You still need

 if (document.getElementById('{{$field}}')) {
        let client{{$field}} = grecaptcha.render('{{$field}}'
let client{{$field}} = grecaptcha.render('{{$field}}', {

[2019-01-26 05:17] RyanDaDeng commented on #23
@HdbKing Hmm, I am a bit confused. Can you provide me with your current Blade layout structure?

The render() function needs to be always binding to form. You should not put it explicitly. (Not head or bottom anymore after previous fix)

If you want it run globally, you then need to include background() function in your layout page.

[2019-01-26 05:32] HdbKing commented on #23
In fact it is same with auth:make structure .

wwww.abc.com/      added some form
wwww.abc.com/login      added some form

layout.blade.php

some form
///header
<div class="main" > @yield('index')</div >
///footer

{!!  GoogleReCaptchaV3::render([
...
'navform_id'=>'navform',
'register_id'=>'register',
'changepass_id'=>'changepass',
...
]) !!}
{!!  GoogleReCaptchaV3::background() !!}

------------

[2019-01-26 05:42] RyanDaDeng commented on #23
@HdbKing I see the problems there, however, I just come up with a perfect solution for it. Give me some minutes, I am running some tests

[2019-01-26 06:13] RyanDaDeng commented on #23
@HdbKing Hello, please upgrade version again to be >= ~2.2.8

in your layout.blade.php, remove {!! GoogleReCaptchaV3::background() !!} and use  {!! GoogleReCaptchaV3::init() !!}

Initially, the package does not allow all form arrays in one single place in layout.blade.php, e.g. register form located at register.blade.php, you need to include it in only that file. (Sorry for my previous wrong instr

[2019-01-26 08:56] Nuranto commented on #1
Hello @RyanDaDeng
Sorry for the delay ! I just updated and test, it is perfect !

Thanks a lot !

[2019-01-26 10:33] #1 closed

[2019-01-26 17:53] HdbKing commented on #23
is new version

 {!!  GoogleReCaptchaV3::renderField('contact_us_id','contact_us_action') !!}
equal to

old version
 <div id="contact_us_id"></div>
+
{!!  GoogleReCaptchaV3::renderField('contact_us_id','contact_us_action') !!}   ???

[2019-01-27 01:58] RyanDaDeng commented on #23
@HdbKing That is  alternative method, which is placed within the form. In your case, you just need to change background() to init(), everything should work.

[2019-01-27 14:58] HdbKing commented on #23
In layout form will get error, @yield page's form work well

 +"success": false
  +"ip": "127.0.0.1"
  +"score": 0
  +"action": ""
  +"challengeTs": null
  +"hostname": ""
  +"errorCodes": []
  +"message": "Missing input response."

[2019-01-27 23:53] RyanDaDeng commented on #23
It will return false and fails ReCAPTCHA
please play it a bit around.

[2019-01-27 23:54] RyanDaDeng commented on #23
I will close this ticket, if you have any other problems please create a new ticket.

Happy coding.

[2019-01-27 23:54] RyanDaDeng commented on #23
I will close this ticket, if you have any other problems please create a new ticket.

Happy coding.

[2019-01-27 23:54] #23 closed

[2019-02-18 03:02] #11 closed

[2019-02-19 16:01] Nuranto opened #31 "Issue timeout-or-duplicate"
I often (but not always..) get `timeout-or-duplicate` on first submit try, and on second submit the POST pass.
It seems it can happen when the validation process is run twice..? Any idea ?

(Also, even if it fails, isn't it suppose to fallback on V2 ? I thought it was suppose to, but i don't see it anymore in README, maybe I mix up with some other project ?)

[2019-02-20 05:56] RyanDaDeng commented on #31
Hello @Nuranto , I can answer "isn't it suppose to fallback on V2" this question first, the v3 won't fallback to v2 actually, v3 is only collecting score from your site action, and you determine your own score threshold. If the score less than threshold, you need to do your own fallback, the official site suggests to use v3 with two-factor authentication.

Yeah, in previous readme, this is include

[2019-02-20 13:01] Nuranto commented on #31
In my case, I'm not using it for auth, but for contact and comment forms.  But I see the idea.

Isn't it possible to load V2 script only in case of failure ?

[code]

And validation array item :
[code]

[2019-02-27 08:41] RyanDaDeng commented on #31
Hello @Nuranto ,

sorry for the delay.

Here is my suggestions:

1. Ensure your version is higher or equal to 2.1.11
2. Ensure that   {!!  GoogleReCaptchaV3::init() !!} always located at the bottom no matter page you load.
3. Use {!! GoogleReCaptchaV3::renderField('frontcontact','frontcontact') !!} instead

If still not work, i will dig it into deep.

[2019-02-28 07:10] Nuranto commented on #31
Hello @RyanDaDeng,

I looked into it, and it seems there was some conflict with my config files. I spare you the details, but I have some specifities with config file. Anyway, I found out that the app was using a config file where googlerecptchav3.setting was empty.
So I guess, the only validation check was if the `g-recaptcha-response` field was filled or not (which seemed enough for stopping spa

[2019-02-28 22:18] RyanDaDeng commented on #31
good! I close ticket now!

[2019-02-28 22:18] #31 closed

[2019-03-29 04:16] kizashitakata opened #33 "An error occurs when using renderField()"
Thanks for the development.

When I use "renderField()" like this:
[code]
This error occurs.
`Type error: Too few arguments to function `

What this '$class' means?
`GoogleReCaptchaV3::renderField($id,$action,$class,$style)`
If my configuration is correct, will this '$class' be injected?

regards.

[2019-03-29 04:41] kizashitakata commented on #33
Currently, I guess the HTML class attribute should be passed to "$ class". Correct?

[2019-03-29 05:10] RyanDaDeng commented on #33
hello @kizashitakata , you are right. For some reasons, I missed the test cases. I will fix it now. Thank you so much.

[2019-03-29 05:17] RyanDaDeng commented on #33
@kizashitakata Hello, I have fixed the error. That class is optional value which shouldn't be required. I fixed it with default empty string. Thank you for telling me about it! Thanks! I have added a test case. Please upgrade version to 2.2.12.

[2019-03-29 05:47] kizashitakata commented on #33
Thank you for your prompt response!

[2019-03-29 08:23] kizashitakata commented on #33
I confirmed the correction. Thank you very much. Please close the issue if it seems that there is no problem.

[2019-03-30 05:54] RyanDaDeng commented on #33
thanks!

[2019-03-30 05:54] #33 closed

[2019-04-24 20:19] Kolesar opened #35 "How to use refresh without vue.js?"
I have simple modal dialog controlled with jquery. If Laravel validation return error, next submit does not work because ReCaptcha token is not refreshed. How can I run refresh token in this case?

[2019-04-24 20:57] Kolesar commented on #35
I have found one temporary workaround, but a stupid one.

I removed `let` from `template.blade.php`

`client{{$field}} = grecaptcha.render('{{$field}}', {`

Create a "global" variable clientmy_field and on ajax failed response run:
[code]

[2019-04-25 08:56] RyanDaDeng commented on #35
@Kolesar Thanks for using the package! I will definitely take a look into this on Saturday.

[2019-04-25 22:52] martsie opened #36 "Including on every pages throws ErrorException: Undefined variable: apiJsUrl"
To reproduce simply put `{!!  GoogleReCaptchaV3::init() !!}` in the footer of your page layout with the default configuration (background mode on) and the site will crash.

This is happening because https://github.com/RyanDaDeng/laravel-google-recaptcha-v3/blob/master/src/GoogleReCaptchaV3.php#L67 which prepares the variables for the view does not contain apiJsUrl as a view variable which is requi

[2019-04-25 23:06] RyanDaDeng commented on #36
@martsie Hi, omg, this is critical and this is my bad. I merged this feature from one of contributors without thinking about the initialisation. I should have made some test cases to cover it. I have updated the code, please run update again, you should get version ~2.2.14

[2019-04-25 23:07] martsie commented on #36
No worries, it happens - good to catch it early!

[2019-04-28 12:34] RyanDaDeng commented on #35
@Kolesar I encountered some problems. I cannot get recaptcha response (null) anymore after  grecaptcha.reset(widgetId).

do you have any ideas?

`    <form>
        <div class="form-group">
            {!!  GoogleReCaptchaV3::renderField('contact_id','contact') !!}
            <button id="test" class="btn btn-success btn-submit">Submit</button>
        </div>
    </form>

    <script>
        $(do

[2019-04-28 13:04] RyanDaDeng commented on #35
@Kolesar Thanks for the tips! I have updated the package and I have also added two handy javascript functions for Ajax usage. Please check document section - Blade Usage. Also please upgrade your version to be ~2.2.16

[2019-04-28 13:10] #36 closed

[2019-05-04 04:29] RyanDaDeng commented on #35
@Kolesar any updates?

[2019-05-06 08:01] reefebba opened #37 "Question"
Hello, I'm a newcomer, sorry to bother you with these stupid questions.

- do we add `is_score_enabled` again inside `setting => []` ? cause that what I see in readme but I think we already have, outside.

- I have `DesignRequest extends FormRequest `

and in rules() method I add

`'g-recaptcha-response' => ['required', new GoogleReCaptchaV3ValidationRule('submit_design')]`

in controller I inject

[2019-05-06 12:02] RyanDaDeng commented on #37
1. do we add is_score_enabled again inside setting => [] ? cause that what I see in readme but I think we already have, outside.

You don't need to add it again in the setting => []. Yeah, I might need to re-wording it a bit to clear your confusion.

2. For the wrong value,

Your config might be cached, you might need to run php artisan config cache or php artisan cache:clear

Let me know if it so

[2019-05-07 00:04] reefebba commented on #37
Thank you, now it won't submit the request, just like validation error but without any message. How do I get error messages and what would appear if suspicious user/bot submit a request?
Again, Thank You Very Much!

[2019-05-07 01:11] RyanDaDeng commented on #37
You have to check the Facade Usage section to see the messages. However, I think the validation class has already returned some error messages. If you see nothing, it might be something wrong or something missing from my package, I will check it later tonight.

Check Facade Usage to see the returned object first. I will get back to you tonight.

[2019-05-07 08:55] reefebba commented on #37
in my friend machine, he got a message that the site key isn't right when he didn't assign a value to it, Although I'm not sure why I don't even after `config:cache`, but I guess it works, which is great!!
Thank you for your attention and fast response

[2019-05-07 13:42] RyanDaDeng commented on #37
thats good！

[2019-05-07 13:42] #37 closed

[2019-05-07 22:49] thattomperson opened #38 "[Idea] Auto check on FormRequest resolve"
just like how laravel will automatically validate a for rules on a FormRequest when it is resolved, it should be possible to do the same thing with Recaptcha with a interface and trait

[code]

and then in the service provider
[code]

[2019-05-08 01:47] RyanDaDeng commented on #38
@thattomperson

I think this is a good idea honestly. This looks more OO and more practical. Let me have a try tonight or tmr.

Thanks! This is a really good idea.

[2019-05-12 23:07] RyanDaDeng commented on #38
@thattomperson After research, I think it's better to include it into Validation class instead of form request. A bit busy last weekend, I will catch up with you later today.

[2019-05-14 09:17] Kolesar commented on #35
Hi @RyanDaDeng,

Sorry for the late response. I changed my business logic and have no problem with that at all. Thanks for the quick fix in any case. You can close this issue now.

[2019-05-14 13:17] #35 closed

[2019-06-10 14:18] MwSpaceLLC opened #40 "Missing input response."
when i send call by blade, i have this problem. u know why ? 🤢

**Missing input response.**

Code Blade:
{!!  GoogleReCaptchaV3::render(['contact_us_id'=>'quote']) !!}

config:

    'setting' => [
        [
            'action' => 'quote',
            'threshold' => 0,
            'score_comparision' => false,
        ],
    ],

Controller:

        $this->request->validate([
            'g-recapt

[2019-06-11 18:33] henriquepalazzo opened #41 "not reading published config file"
Hi,

for some reason, the copied config file is not being read. I spent a long time trying to find what I was doing wrong, without any success. I was getting an error message on the console saying: missing site key. So I put the site key string directly on the config file inside the vendor folder, since then I didn't get the error message anymore. Am I doing something wrong or there is indeed a bu

[2019-06-11 23:16] RyanDaDeng commented on #41
Have you tried `php artisan config:cache`?

[2019-06-11 23:17] RyanDaDeng commented on #40
Have you put {!! GoogleReCaptchaV3::init() !!} at the bottom of your page?

[2019-06-11 23:18] RyanDaDeng commented on #40
Also, have you added <div id="contact_us_id"></div> in your form?

[2019-06-11 23:22] RyanDaDeng commented on #40
If you still had no success, I will take a look tonight. Bro, I am on your side.

[2019-06-11 23:22] RyanDaDeng commented on #41
If you still had no success, I will take a look tonight. We will sort it out.

[2019-06-11 23:55] MwSpaceLLC commented on #40
No bro, sorry but for now i have installed : https://github.com/albertcht/invisible-recaptcha

🧐 I hope you can find the problem.

[2019-06-11 23:55] #40 closed

[2019-06-12 02:08] RyanDaDeng commented on #40
Sure no worries. I will have a quick check tonight.

[2019-06-12 22:13] henriquepalazzo commented on #41
Hi RyanDaDeng, I tried, no success. Any ideia?

[2019-06-12 23:17] RyanDaDeng commented on #41
@henriquepalazzo I tried to install a fresh package on a new project, it doesn't have issues for me.

my laravel version: 5.8

1.  run publish to have a config in your local
2. adding secret and site key
3. Adding two routes:
    `  Route::get('echo', 'EchoController@echo');
        Route::post('echo2', 'EchoController@echo2');`
4. Adding blade:
    `<form method="POST" action="/api/echo2">

[2019-06-12 23:24] RyanDaDeng commented on #41
The problem in your case is that the config file is not being picked up. It's usually caused by cache issues. What's the Laravel version are you using at the moment?

[2019-07-08 03:43] chinlung opened #42 "Error message of Response could has multi-lang ?"
Hi,
First, It’s awesome.  This package is really help to me 👍

I notice the Core/GoogleReCaptchaV3Response has declare const var like this (maybe not only in here 😄 ) :
    const MISSING_INPUT_ERROR = 'Missing input response.';
    const ERROR_UNABLE_TO_VERIFY = 'Unable to verify.';
    const ERROR_HOSTNAME = 'Hostname does not match.';
    const ERROR_ACTION = 'Action does not match.';
    const

[2019-07-08 23:12] RyanDaDeng commented on #42
Sure, I can update it tonight for sure.

[2019-07-09 09:38] RyanDaDeng commented on #42
@chinlung I have added it in my local, I will try to merge the branch by tmr, I am missing some test cases because of safety. Sorry for the delay.

[2019-07-09 10:23] chinlung commented on #42
@RyanDaDeng It’s OK. Thanks for so quick to help that.  😸

[2019-07-09 12:46] RyanDaDeng commented on #42
@chinlung Please update the version to be ~2.2.19, and then run:
[code]
A lang folder will be created under /resources/lang/vendor/GoogleReCaptchaV3/*

[2019-07-09 18:44] chinlung commented on #42
@RyanDaDeng

 Work well !!  Thanks again 😄

[2019-07-09 18:44] #42 closed

[2019-08-11 12:54] TechTailor opened #45 "Curl Error Code: GoogleReCaptchaV3::messages.ERROR_TIMEOUT"
Configured my app as described. Tried using with rendorOne, rendor and even rendorField, all of them giving the same error -

`Curl Error Code: GoogleReCaptchaV3::messages.ERROR_TIMEOUT`

Have {!!  GoogleReCaptchaV3::init() !!} at the bottom of my page.

Using Laravel 5.7.28

Please guide me through this.

Thanks in advance.

[2019-08-11 22:56] RyanDaDeng commented on #45
I will check it for you tonight. Thank you for using the package.

[2019-08-12 05:58] TechTailor commented on #45
Ok thanks. Waiting for an update.

[2019-08-12 07:54] #41 closed

[2019-08-12 10:56] RyanDaDeng commented on #45
@TechTailor I tried to reproduce your env and problems.

Potential problems:

- Double check if you can access `https://www.google.com/recaptcha/api/siteverify`, just click this link if you can see any response. If not, which means you might not be able to access google, or your region got blocked. Google provides alternative links for different countries. Just let me know if you have this issue.

[2019-08-14 01:05] themall7 opened #47 "add multiple recaptcha"
I have two popups on same page and both have their own recaptcha but there is an error on console. it says "reCAPTCHA has already been rendered in this element".
Can I use multiple recaptcha in single page?
Laravel : 5.5.46
Vue : 2.6.10

[2019-08-14 07:19] RyanDaDeng commented on #47
@themall7 Have you tried to set up different *ref* and *v-model* for vue component?

                <google-re-captcha-v3
                        ref="captcha"   // set it differently
                       v-model="gRecaptchaResponse" // set it differently
                        :siteKey="'Your Site Key Here'"
                        :id="'contact_us_id'"
                        :inline="true"

[2019-08-14 07:31] themall7 commented on #47
I tried but no luck. same error have occurred.

recaptcha__ko.js:545 Uncaught Error: reCAPTCHA has already been rendered in this element
    at Object.Yp [as render] (recaptcha__ko.js:545)
    at VueComponent.render (app.js:107144)
    at window.gRecaptchaOnLoad (app.js:107125)
    at Rn (recaptcha__ko.js:555)
    at w3 (recaptcha__ko.js:553)
    at recaptcha__ko.js:559
    at recaptcha__ko.js:579

[2019-08-14 10:24] RyanDaDeng commented on #47
I might investigate it tmr. Don’t worry I will fix it up if it’s the bug.

[2019-08-22 23:54] themall7 commented on #47
Hi,
Any progress for this case?
Thanks.

[2019-09-21 13:11] NoxxieNl opened #48 "Move site key and secret key to environment file"
Hiya,

First thanks for this package love it to use in combination with the automatic validation check within a controller :-)!

Perhaps it would be nice if we could set the `secret key` and the `site key` inside our environment file. Sometimes you do not want those keys to be up in your repository. as simple change in the config file would to do this.

Want to send a PR when it's OK :-)

[2019-09-22 14:24] RyanDaDeng commented on #48
@NoxxieNl thanks! I have added it in .env! Let me know if the current version satisfy your requirement.

[2019-09-22 14:25] #45 closed

[2019-09-22 14:26] #38 closed

[2019-09-22 14:31] NoxxieNl commented on #48
That does the trick! :)
Thanks!

[2019-09-22 23:21] #48 closed

[2019-10-01 21:24] marky291 opened #50 "Vue:: Missing required parameters: sitekey"
<img width="455" alt="Screenshot 2019-10-01 at 22 24 47" src="https://user-images.githubusercontent.com/5384515/66001892-5b567500-e49a-11e9-9cb0-c6307da62cea.png">

[2019-10-01 21:24] marky291 commented on #50
<img width="460" alt="Screenshot 2019-10-01 at 22 24 19" src="https://user-images.githubusercontent.com/5384515/66001823-3b26b600-e49a-11e9-88d6-810f5d6be2d8.png">

[2019-10-17 20:44] KaminoU opened #55 "rendering issues"
Hello,

First of all thank you for the package.

Maybe I did wrong but the init() method does not render correctly :
• it does not render the reCaptcha V3 Api.js
• all the action name is merged with the string '-contact'

My laravel version is **6.2** and this is what I do by following your documentation.

**My Blade File, before the /body** :
`{!!  GoogleReCaptchaV3::init() !!}`

**in the $.ajax(

[2019-10-17 23:36] RyanDaDeng commented on #55
I will check it during this weekend. Thank you for using the package.

[2019-10-21 10:58] KaminoU commented on #55
Thanks for reading ^^

I finally made my own class and it works like a charm. It seems that some packages do not work correctly on Laravel 6.x (without errors)

[2019-10-22 03:43] RyanDaDeng commented on #55
@KaminoU Hello, I have tested myself by using a fresh new Laravel 6.x project.

I have no issues on using the package.

**Blade file:**

`<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="csrf-token" content="{{ csrf_token() }}" />

[2019-10-22 07:03] xalunda commented on #50
Hi @marky291,

There is a typo in your code. Props should be written like this:

_With a string_
[code]

_With a variable_
[code]

Note the kebab-case on the variable

[2019-10-22 07:11] xalunda commented on #47
Wooo I've been assigned an old issue there ^^"

@themall7 Is the issue resolved on your end?
If not, could you make a codepen or attach the content of your file `recaptcha__ko.js` ?

_ko? Are you using KnockoutJS ?

Thanks

[2019-10-22 10:39] KaminoU commented on #55
Thank you @RyanDaDeng

I will give a try again then ; it seems that I did wrong while implementing your package =D

[2019-10-22 10:41] marky291 commented on #50
Documentation is incorrect, example uses :siteKey. Under vue usage.

[2019-10-22 10:43] xalunda commented on #50
You're absolutely right.
I'll submit a PR right away.

Sorry for the trouble

[2019-10-22 12:36] xalunda commented on #50
Closed by PR #56

[2019-10-22 12:36] #50 closed

[2019-10-22 12:46] RyanDaDeng commented on #47
@xalunda omg, I just assign it randomly to you. I didn't expect you would fix it...omg, THANKS, you are the legend.. I am moving house and purchasing a property so busy this year. Sorry for the inconvenience.

[2019-10-22 12:48] xalunda commented on #47
That's fine, I'm using this package in production so I have interests in keeping it updated 👍

I hope this person found what was wrong with his code, he/she has been waiting a long time

[2019-10-22 18:36] KaminoU commented on #55
Sorry misspelling lol =D

[2019-10-22 18:36] #55 closed

[2019-10-25 11:19] stzoran1 opened #57 "Multi Language Suuport not working for background_mode"
I spotted that custom language is not working for background_mode = true. No matter which language is set it will always load badge in English.

[2019-10-26 04:19] RyanDaDeng commented on #57
@stzoran1 I might knew why. I will have a look by this week. Thanks!

[2019-11-26 16:55] tongtastic opened #58 "/verify route not being registered"
After completing the installation instructions, any request, regardless of type, made to /verify results in a 404.

No cache, all cleared, running using VueJS validation
Laravel 6.5.2

Thanks in advance

[2019-12-05 21:53] abishekrsrikaanth commented on #58
Got the same issue. @RyanDaDeng any idea how to fix this?

[2019-12-06 03:00] RyanDaDeng commented on #58
im looking into it

[2019-12-11 02:56] RyanDaDeng commented on #58
@tongtastic @abishekrsrikaanth `/verify` should be implemented by your end. It is just a example route in the demo. You need to specify your own controller function and receive response and then check https://github.com/RyanDaDeng/laravel-google-recaptcha-v3#validation-class Validation Usage

[2019-12-11 02:58] RyanDaDeng commented on #58
or check this sample: https://github.com/RyanDaDeng/laravel-google-recaptcha-v3/wiki/Simple-Demo

[2019-12-12 18:07] samuelhgf opened #59 "Getting timeout error"
I'm using recpatcha in Vue. I call this method: this.$refs.captcha.execute(); after the user login success or erro and after logout. Anytime I call it returns this two errors:

recaptcha__pt_br.js:500 Timeout (n)
Uncaught (in promise) Timeout (n)

Even so the token works in the authentication every time the user log in. In the first place or after logout without refresh the page.

[2019-12-16 00:14] RyanDaDeng commented on #59
I will check it these days. thanks!!

[2019-12-30 13:09] samuelhgf commented on #59
Hi, any news?

[2020-01-06 04:22] #58 closed

[2020-01-14 11:47] Dissociable commented on #59
@samuelhgf Do this to fix it:

Add this method:
`renderCallBack(data) {},`

then add this parameter to grecaptcha.render function:
`'callback': this.renderCallBack,`

It will look like this:
[code]

And also if you doing tests in localhost, add the domains in Recaptcha's Admin Console
[code]

[2020-01-14 13:39] Dissociable commented on #59
Hello, to prevent session timeouts of Recaptcha Validation and the need of reloading page, i call the execute method on the button click of the forms, of course i made some changes to the Vue component,

[code]

[code]
The above v-model is not needed as you can get the token like this:
[code]

[2020-03-15 13:51] lxlang opened #62 "Content Security Policy - Add Nonce"
At the moment it is very hard to get this working on a implemented Content-Security-Policy.

It would be great if we could pass a nonce to the generated script tags in `init()`.

There is already a fork by @Weisskpub containing this: https://github.com/Weisskpub/laravel-google-recaptcha-v3

I personally like this approach, but its your project and the decision how its implemented is yours.

Thanks

[2020-03-15 14:08] RyanDaDeng commented on #62
@lxlang hey thanks! I will check @Weisskpub repo to see how it works. Thanks! I will try to update it within this week.

[2020-03-22 01:30] RyanDaDeng commented on #62
@lxlang hi, sorry for the delay. I got some urgent company tasks to do this weekend. I might not have time this weekend. just a quick update.

[2020-05-04 11:35] #62 closed

[2020-05-04 11:37] #47 closed

[2020-05-04 12:22] lxlang commented on #62
@RyanDaDeng Thanks alot :)

[2020-05-18 10:35] RyanDaDeng commented on #57
@stzoran1 this is fixed. sorry about waiting for this long.

[2020-05-18 10:37] #57 closed

[2020-05-26 23:43] ebelendez opened #65 "No way to translate message timeout-or-duplicate"
If I let 2 minutes pass before I submit the form, the response comes with this message:
timeout-or-duplicate

I suppose it is normal but I don't find how to translate it, Am I missing something?

My temporary solution was to modify the GoogleReCaptchaV3ValidationRule / passes(), like this:

[code]
Is this a bug? or some google update? What do you suggest?

[2020-05-27 02:35] RyanDaDeng commented on #65
Thanks! @ebelendez I will give you an update by today or tmr.

[2020-05-28 11:49] RyanDaDeng commented on #65
Fixed, please install 2.3.1

The trans that I defined in lang is for api connection timeout errors.

I have added `timeout-or-duplicate` error trans. The default message is `The action is timeout.`

[2020-05-28 15:16] ebelendez commented on #65
Cool thanks!

[2020-05-28 15:16] #65 closed

[2020-06-08 18:50] ericp-mrel opened #67 "Badge not rendering in the correct spot"
I'm trying to use reCAPTCHA in multiple forms on a page and having the badge only displayed in the bottom right of the page so it doesn't need to be inline within the form.

I currently have the config values set:
[code]

However, I am getting a weird rendering issue where it is rendering in the middle of the page.
![Screenshot from 2020-06-08 13-38-15](https://user-images.githubusercontent.com/63

[2020-06-12 09:13] ryan-deng-plastiq commented on #67
@ericp-mrel sorry for the late reply, it was a very busy week for me. i just got time to check it during the weekend! I have seen your PR just now. Will check and test locally this weekend!!!

Appreciate!!

[2020-06-14 09:05] ryan-deng-plastiq commented on #67
A quick update, my company is gonna release a new version this week, its busy for us to prepare data migration.

I can only take a look next Friday.

Sorry.

[2020-06-15 13:36] ericp-mrel commented on #67
@ryan-deng-plastiq No problem. I'm in no particular rush to get these merged.

[2020-07-09 14:10] ericp-mrel commented on #67
@ryan-deng-plastiq Any updates on getting these changes possibly merged?

Thanks

[2020-07-14 10:11] #67 closed

[2020-07-14 10:16] RyanDaDeng commented on #67
All good mate. Sorry for taking such long.

[2020-09-06 19:29] cenkimren opened #71 "Issue of generating renderField with @include"
Hello,

I was using this package with shortcodes. Today I attempted to use `{!!  GoogleReCaptchaV3::renderField('contactCaptcha','contactSubmit','','z-index: 999;') !!}` with @include a blade file however, same blade file works fine with returning a view but when I include it in HTML, it's not rendering recaptcha, instead it only creates empty div.

By the way, my first git post ever! :)

Cenk

[2020-09-08 07:24] RyanDaDeng commented on #71
@cenkimren Wowow, just saw it, Thanks for using the package, and congratulations for your 1st GitHub ticket!!

Regarding the issue, I will investigate to it by this week!!

[2020-09-08 17:50] Schnoop opened #72 "Laravel 8.0 release not installable"
As php-coveralls is currently not supporting Guzzle 7.0, which is a requirement for Laravel 8.0, this package is not installable at the moment.
https://github.com/php-coveralls/php-coveralls/issues/287

[2020-09-09 02:12] RyanDaDeng commented on #72
Will fix it as high priority by this weekend! Thanks!

[2020-09-21 07:24] RyanDaDeng commented on #72
hello @Schnoop  this is fixed. Actually, the package doesn't require guzzle as dependencies for itself.

All good now.

[2020-09-21 07:27] Schnoop commented on #72
Great news. Thanks a lot for your work!

[2020-09-21 07:27] #72 closed

[2020-09-21 14:01] InsomniakDev opened #73 "Deactivate CURLOPT_SSL_VERIFYPEER via config"
Could you add a config option to deactivate CURLOPT_SSL_VERIFYPEER via config for testing purpose ?

likewise :
curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, config('captcha.verify', true));

Thanks and great job

[2020-10-22 12:15] akazemia commented on #40
I had the same issue until I noticed a hyphen "-" can lead to that issue.
Also don't forget to clean your cache:
php artisan cache:clear
php artisan config:cache
php artisan config:clear
php artisan cache:clear
php artisan view:clear
php artisan route:clear
composer dump-autoload
... I hope this helps someone out there ;)

[2020-11-19 23:55] #59 closed

[2021-01-16 22:33] russ-sdg opened #74 "Struggling to implement on registration"
I'm guessing this is user error as I'm relatively new to Laravel. I am trying to use Recaptcha v3 on the standard registration form that comes with Laravel.

In the config file I have:
    'setting' => [
        [
            'action' => 'login',
            'threshold' => 0.5,
            'inline' => true,
            'score_comparision' => false,
        ],
        [
            'action' => 'reg

[2021-01-19 21:43] ljanecek commented on #74
You should add `{!! GoogleReCaptchaV3::init() !!}` into layout template, app.blade.php to the bottom.

[2021-01-19 22:35] russ-sdg commented on #74
That did it. Thank you!

[2021-01-22 13:12] RyanDaDeng commented on #74
better to check this sample code: https://github.com/RyanDaDeng/laravel-google-recaptcha-v3/wiki/Simple-Demo

[2021-01-22 19:34] samuelhgf opened #75 "Returning "Successfully passed" as error"
Hi, sometime, only access in mobile, my users are getting "Successfully passed" as an error message.

My implementation is correct... It works at browser, but sometimes get this error in mobile.

And I don't know how to solve this.

[2021-02-23 22:48] kallefrombosnia opened #78 "Error: The action is timeout."
Hello, I have a problem with this error.

I checked every issue here and all of them are timeouts after 2 minutes of page loading, but for me, the problem occurs after page load < 2 minutes.  More precisely seconds after js load and submit.

My controller:

[code]

But when I test before request validation everything passes normally.

[code]

[2021-04-05 16:50] flowbru opened #79 "Error with vue component: gRecaptchaResponse: ["invalid-input-secret"]"
Hi there,

I'm trying to use the vue component in my register from.

I have added my keys to .env file
`
RECAPTCHA_V3_SECRET_KEY=XXX
RECAPTCHA_V3_SITE_KEY=XX
`

I have published the vue component as described in the installation docu.

I have added the rule to my RegisterUserRequest.php
`
use TimeHunter\LaravelGoogleReCaptchaV3\Validations\GoogleReCaptchaV3ValidationRule;
...

public function rule

[2021-04-06 05:31] RyanDaDeng commented on #79
That usually means your secrect is not set correctly.

Please check that you are passing the full key in the right format as retrieved from https://www.google.com/recaptcha/admin#list

That error occurs, according to https://developers.google.com/recaptcha/docs/verify

The secret parameter is invalid or malformed.

If you are sure that secret is correct, then try to run `php artisan config:clear`

[2021-04-06 16:05] flowbru commented on #79
Hi Ryan! Thanks for your fast response!
It seems that the problem was the config cache... So thanks alot that solved my problem. And sorry for that,,,

[2021-04-06 16:05] #79 closed

[2021-04-27 19:31] kerimkuscu opened #80 "Token is null"
I added the following as a vue file in the Vue cli project.

[code]

Then I imported the vue file. I used the vue component, whose name is google-recaptcha, as follows.

[code]

siteKey is `6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI`

While the page is loading, the following requests are dropped.
![Screen Shot 2021-04-27 at 22 28 45](https://user-images.githubusercontent.com/43302726/116300762-f105d

[2021-05-03 03:20] RyanDaDeng commented on #80
checking tonight

[2021-05-28 15:52] Luigidefra commented on #80
same error, token is null
I work on vue3 but i m not using api composition

[2021-06-12 07:56] w99910 opened #81 "Unable to use properly with Vue"
After submitting the form in vue, the page is returned as **domain.com/?g-recaptcha-response=XXXXXXXXXX** and doesn't continue the process.
I'm implementing the recaptcha in vue login request and the code in my component is the following.
It doesn't return none of error.
Can someone help me please?

**config/googlerecaptchav3.php**
[code]
**Template**
[code]
**method**
[code]
**Controller**
[code]

[2021-06-12 09:08] w99910 commented on #81
`info(GoogleReCaptchaV3::verifyResponse($request['gRecaptchaResponse'])->isSuccess())` gives **1** and
`info(GoogleReCaptchaV3::verifyResponse($request['gRecaptchaResponse'])->getMessage())` gives **'The action is timeout.'**.

[2021-06-12 09:10] w99910 commented on #78
I got the same issue.
Can I know if someone has solution ?

[2021-06-21 16:09] pouyaGit commented on #40
I just had the same problem...
I moved   {!! GoogleReCaptchaV3::init() !!}   from the script section of my blade to my master layout,
and it was solved!

A bit weird but worked for me.

[2021-06-30 16:12] #74 closed

[2021-07-05 20:57] l3keboy opened #82 "Missing-input-response"
Extention of issue #40!

By using parts of the code in de demo file, I also get the error message missing-input-response, see image below.

I can't seem to get this to work, any help or tips?

![image](https://user-images.githubusercontent.com/66973798/124517476-5992b180-dde4-11eb-9d54-6ec23c44dc54.png)

[2021-07-05 21:02] l3keboy commented on #82
After also printing the $rule of the code (see demo), i get this:
![image](https://user-images.githubusercontent.com/66973798/124517761-1553e100-dde5-11eb-8151-0366c79d6621.png)

for the code (in the controller):
![image](https://user-images.githubusercontent.com/66973798/124517783-21d83980-dde5-11eb-9a03-321c00264c2a.png)

[2021-07-12 20:29] #82 closed

[2021-08-29 11:00] RyanDaDeng commented on #81
make   'is_score_enabled' => true,  and also enable your action  'score_comparision' => false, to be true

[2021-09-05 23:26] nolros commented on #78
Need to run  `this.$refs.captcha.execute();` after the response (success or error) otherwise you are submitting the same token.

[2021-09-28 21:35] asmxaker opened #86 "Uncaught SyntaxError: Unexpected end of input"
If I use Laravel HTMLMin

```Uncaught SyntaxError: Unexpected end of input```

`   var clientcontact_us_id;   function onloadCallback() {   if (document.getElementById('contact_us_id')) { clientcontact_us_id = grecaptcha.render('contact_us_action', { 'sitekey': '123',  'size': 'invisible', 'hl': 'ru', //'callback': function() {} }); grecaptcha.ready(function () { grecaptcha.execute(clientcontact_u

[2021-09-29 01:41] RyanDaDeng commented on #86
its a bit weird not throwing errors before, i have just deleted it.

let me know if it works now.

v2.5.1

[2021-09-29 16:58] asmxaker commented on #86
everything is wonderful!

[2021-09-30 00:10] #86 closed

[2021-10-07 16:55] luisrossi opened #88 "TIMEOUT_OR_DUPLICATE"
I'm using your component in Vue.js however I notice that when the user fills out a very large form, spending too much time on screen, the first request will give the timeout message and the user will need to click again to submit the form.

Is there any alternative to increase this time, or when it exceeds the time, automatically make a new request to get a new token?

[2021-10-15 08:30] RyanDaDeng commented on #88
Hello Luisrossi, i think by design, the component shouldn't allow the key to be refreshed, so this needs to be handled on your side, for example, you can just do simple Javascript coding:

 setInterval(function(){  refreshReCaptchaV3('contact_id','contact');}, 150000);

[2021-11-21 23:14] AGNICO commented on #80
I had the same error. Try to change `execute()` method in `GoogleReCaptchaV3.vue` component (line 80) to:
[code]

[See docs...](https://v3.vuejs.org/guide/migration/v-model.html#v-model)

[2021-12-17 09:28] goessensj opened #90 "token times out after x time."
I have a large form to fill in on my website.
After some time, the token times out.
Is this by design or am i missing something?

[2021-12-18 09:30] goessensj commented on #90
I added this line of code to refresh the token every 2 minutes:
setInterval(function(){refreshReCaptchaV3('contact_subscribe_id','contact_subscribe');},2*60*1000);

Any insight is appreciated.

[2022-01-14 17:57] titantwentyone opened #91 "Usage with Livewire"
Thank you for creating this package. I am hoping to use this within a Livewire component and wondering whether there are any special considerations to take into account.

My use case is with a registration form. In my Livewire components blade file, I have:

[code]

When the above is rendered, I can see the scripts from the package render (functions `refreshReCaptchaV3(fieldId,action)` and `getReC

[2022-03-08 10:22] nausixkiz commented on #78
I got the same issue.
Is there anyway to solve this problem with ```javascript``` instead of ```vue``` ?
I have tried

[code]
but this still happen

[2022-07-09 04:53] maxou0789 opened #93 "Badge still showing at the bottom of the page when background_badge_display set to false"
Hello,
The badge is still showing at the bottom of the page when background_badge_display set to false..
thanks

[2022-09-25 15:25] weblabio commented on #93
+1

[2022-09-26 10:13] Mohamed5550 opened #94 "It works for domain but not for its subdomains"
I run the package on foo.localhost but it always says "Hostname does not match."

The host_name in config is set to "localhost"

When I change the host in config to "foo.localhost" it works